.modal-tag-legend {
    font-weight: 600;
    position: relative;
}
.modal-tag-legend:before {
    content: '';
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    background-size: 400%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    z-index: -1;
    left: -2px;
    top: -2px;
}
.modal-tag-legend:after {
    z-index: -1;
    content: '';
    position: absolute;
    background: #11111188;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.ant-carousel .slick-dots li button {
    background-color: black !important;
}
.ant-carousel .slick-dots li.slick-active button {
    background-color: black !important;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    color: black !important;
}
.award-row {
    padding-bottom: 20px;
}
.success-btn {
    color: #fff;
    background-color: #53c41a;
    border-color: transparent;
}

.success-btn:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff;
    background-color: #68d134;
    border-color: transparent;
}
